body{
    background-image: url("image1.jpg");
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    margin-top: 40px;
    background-image: linear-gradient(#5900ff, #7000E8);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    opacity: 85%;
}
.container2{
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
}

.fab{
    color:white;
}

.fab:hover{
    color:orange;
    font-size: 60px;
    transition: 1s;
}

#resultado{
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    background-color: #EFFFE9;
    width: 300px;
    border-radius: 10px;
    font-size: 25px;
    opacity: 80%;
    text-align: right;
    margin-bottom: 17px;
}

td {
    width: 10%;
}

button {
    background-color: #1D0C38;
    margin-top: 17px;
    font-size: 20px;
    height: 50px;
    width: 70px;
    border: 0px;
    color:white;
    border-radius: 5px;
}

button:hover{
    background-color: #00E8D1;
    cursor: pointer;
    transition: 1s;
}

#c{
    color:orange;
    background-color: #0C0921;
    width: 80px;
}

#c:hover{
    color:white;
    transition: 1s;
    background-color: #FF8754;    
}

#X, #barra, #igual{
    background-color: #0C0921;
    color:rgb(174, 0, 255);
    width: 80px;
}

#X:hover, #barra:hover, #igual:hover{
    color:white;
    transition: 1s;
    background-color: #FF8754;    
}

#mais, #menos{
    background-color: #0C0921;
    width: 120px;
    color:rgb(174, 0, 255);
}

#mais:hover, #menos:hover{
    color:white;
    transition: 1s;
    background-color: #FF8754;  
}
.marca{
    margin-top: 12px;
    color: white;
}